@font-face {
  font-family: Coolvetica-Regular; /* Имя шрифта */
  src: url(../fonts/CoolveticaRegular.ttf); /* Путь к файлу со шрифтом */
}

* {
  margin: 0;
  padding: 0;
}

header {

  width: 100%;

  background: linear-gradient(to top, #ebebeb 50%, #d3d4d6 80%);

  display: flex;

  font-family: Coolvetica-Regular, Arial, Calibri;
}

.header_logo {

  color: #000;

  font-weight: 800;

  font-size: 45px;

  cursor: pointer;

  margin-top: 80px;

  margin-left: 15%;
}

nav {

  width: 35%;

  margin-left: 25%;
}

.logo_image {

  position: absolute;
  top: 5px;
  left: 60px;
  height: 110px;
}

body {
  background-image: url("../Images/background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-color: #ebebeb;
  font-family: Coolvetica-Regular, Arial, Calibri;
}

.info {

  font-family: Arial;

  font-size: 15px;

  display: flex;

  text-align: left;


  margin-top: 80px;

  padding-left: 20px;
}

.info p {

  padding-left: 15px;
}

.info_img {

  height: 40px;
}

a {

  text-decoration: none;

  color: #000;
}

.wrapper {

  width: 76%;

  margin: 0 auto;
}

footer {

  width: 100%;
  text-align: left;
  margin-top: 50px;
}

.copyright {

  display: flex;

  padding: 20px;
  margin-left: 60px;

  justify-content: center;

  flex-direction: column;

  color: #000;
}

.copyright p {

  font-family: Coolvetica-Regular, Arial, Calibri;
}

.copy {

  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#app {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #b71c1c;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__input__test {
  padding: 10px;
  color: #000;
  width: 400px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}
.header__input__test::-webkit-input-placeholder {
  transition: 0.3s;
  color: #c9c9c9;
  opacity: 1;
}
.header__input__test:focus::-webkit-input-placeholder {
  transform: translateX(250px);
  opacity: 0;
}
.header__input__button {
  margin-left: 30px;
  height: 30px;
  width: 100px;
  
  color: #fff;

  background: linear-gradient(to top, #3e3e3e 50%, #7d7d7d 80%);
  border-radius: 5px;
  transition: 0.2s;
}
.header__input__button:hover {
  cursor: pointer;
  background-color: transparent;
}

.wrap {
  width: 540px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 100px;
}
.list h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 32px;
}
.list__element {
  width: 480px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  background-color: #fffe91;
  border-radius: 5px;

  box-shadow: 2px 2px 15px #696969;
}
.list__element:hover {
  cursor: pointer;
}
.list__element header {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b71c1c;
}
.list__element header input {
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  color: #000;
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: 0;
}
.list__element header input::-webkit-input-placeholder {
  transition: 0.3s;
  color: #000;
  opacity: 1;
}
.list__element header input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.list__element header span {
  font-size: 20px;
  color: #000;
}
.list__element header a {
  width: 24px;
  height: 24px;
  display: block;
}
.list__element header object {
  width: 24px;
  transform: rotateZ(90deg);
  pointer-events: none;
}
.list__element .border .icons {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.list__element .border .icons a {
  height: 29px;
  display: block;
}
.list__element .border .del {
  height: 29px;
  margin-left: auto;
  margin-right: 0;
  pointer-events: none;
}
.list__element .border .del:hover {
  cursor: pointer;
}
.list__element .border .edit {
  height: 29px;
  width: 29px;
  margin-right: 15px;
  pointer-events: none;
}
.list__element .border .edit:hover {
  cursor: pointer;
}
.list__element .description p {
  width: 100%;
  line-height: 1.6em;
  font-size: 20px;
  color: #721d16;
  white-space: pre-line;
  margin-left: 10px;
}
.list__element .description textarea {
  width: 100%;
  height: 300px;
  resize: none;
  border: 2px solid #ebebeb;
  padding: 10px;
  font-size: 20px;
  line-height: 1.6em;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.list__element .description textarea::-webkit-scrollbar {
  width: 10px;
}
.list__element .description textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.list__element .description textarea::-webkit-scrollbar-thumb {
  background-color: #721d16;
  outline: 1px solid #721d16;
}
.list__element .date-start, .list__element .date-end {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.list__element .date-start .text, .list__element .date-end .text {
  flex-basis: 130px;
  font-weight: 700;
  color: #721d16;
}

.sortable-ghost {
  opacity: 0.6;
}
.sortable-ghost header {
  background-color: #721d16;
}
.sortable-ghost .description {
  border-color: #721d16;
}

.zero {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

/*# sourceMappingURL=style.css.map */
